@import '../init.less';

// Color(常用的基本色)
@primary-color: #0081E2;
@success-color: #53C41A;
@info-color: @primary-color;
@warning-color: #FAAD15;
@error-color: #F5212D;
@text-color: #666666;
@white: #fff;
@black: #000;

// Hover Color
@primary-hover-color: #269FF0;
@error-hover-color: #FF4A4D;

// Active Color
@primary-active-color: #0065BD;
@error-active-color: #CF1120;

//menu color 
@menu-green: #1ABD9C;

// Background Color
@primary-background-color: #E6F8FF;
@menu-background-color: #F1F1F1;
@gray-background-color: #F5F5F5;
@heading-background-color: #383838;
@twinkle-color: #FFFBE6;
@content-background: #F2F6F9;
@dot-background:#3981EE;


// Border Color
@border-color: #D9D9D9;
@twinkle-border-color: #FFE58F;

// Disable Color
@disable-background-color: #F7F7F7;

// Text Color
@heading-color: #000000;
@text-color-secondary: #999999;
@text-disable-color: #CCCCCC;
@h2-text-color: #333333;

// Link Color
@link-color: @primary-color;

// lINE Color
@dividing-line-color: #E9E9E9;

//White Color Series
@white-1: fade(@white, 100%);
@white-2: fade(@white, 85%);
@white-3: fade(@white, 65%);
@white-4: fade(@white, 45%);
@white-5: fade(@white, 25%);
@white-6: fade(@white, 60%);

//Black Color Series
@black-1: fade(@black, 100%);
@black-2: fade(@black, 85%);
@black-3: fade(@black, 65%);
@black-4: fade(@black, 45%);
@black-5: fade(@black, 20%);

//一些控件的颜色
//清除和关闭的x的颜色
@clear-color: @text-color;
@clear-hover-color: @heading-color; 

//通过文件上传模态框，文件名称的颜色
@file-name-color: #595959;

// 阴影颜色
@shadow-color: fade(@black, 20%);
@shaow-lighter-color: fade(@black, 2%);

@disable-text-color: fade(@white, 35);