@import '../../assets/style/themes/default.less';

.gc-button {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    color: @white;
    background-color: @primary-color;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;

    &:hover {
        background-color: @primary-hover-color;
        color: @white;
    }

    .icon {
        font-size: 16px;
    }

    .space {
        display: inline-block;
        width: 4px;
    }

    .value {
        font-size: inherit;
    }

    &.disabled {
        background-color: fade(@primary-color, 35);
        color: @white-2;
        cursor: default;
    }
}