@import '../../assets/style/themes/default.less';

.@{prefixCls}-icon {
    display: inline-block;
    line-height: 0;
    font-size: @font-icon-size;

    svg {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
}